@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.cart-container{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    padding: 2% 10%;
}

.cart-container .title{
    background-color: rgb(73, 214, 132);
    width: 100%;
}

.cart-container .product-label{
    width: 100%;
    background-color: blue;
} 

.cart-container .product-label ul{
    display: flex;
}

.cart-container .product-label ul li{
    display: inline-block;
    list-style: none;
    width: 100%;
    text-align: center;
}

.cart-container .item-container{
    width: 100%;
    height: max-content;
    padding: 10px 20px;
}

.cart-container .item-container .item-box{
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.cart-container .item-container .item-box .product-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: violet;
}

.cart-container .item-container .item-box .product-image img{
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.cart-container .item-container .item-box .product-image p{
    font-size: 20px;
}

.cart-container .item-container .item-box .product-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: violet;
}

.cart-container .item-container .item-box .product-actions ul{
    display: flex;
}

.cart-container .item-container .item-box .product-actions ul li{
    display: inline-block;

}