@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url(style.css);

*{
    margin: 0; 
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body{
    padding-top: 10vh;
    background: white;
}


header{
    position: fixed;
    height: 10vh;
    width: 100vw;
    top: 0%;
    z-index: 999;
    background: white;
}


header .primary-header{
    height: 10vh;
    background: white;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 



header .primary-header .secondary-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}

header .primary-header .secondary-nav a{
    text-decoration: none;
    margin: 0 7px;
    color:var(--titleText);
}

header .primary-header .secondary-nav a.login-link{
    color: var(--primaryColor);
    padding: 5px 20px;
    border-radius: 5em;
    border: 2px solid var(--primaryColor);
}
 
  














.container{
    width: 100%;
    height: max-content;
    padding: 2.5% 10%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    background: white;

}
.container section{
    width: 100%;
    margin: 10px 0;
}
.container .delivery-address{ 
    background: #ffffff;
    border: 10px solid var(--primaryColor);
    padding-bottom: 5%;
}
.container .delivery-address h2{
    padding: 0 5%;
    text-align: center;
} 

.container .delivery-address .user-info-address{
    position: relative;
    padding: 0 5%;
    line-height: 32px;
} 
.container .delivery-address .user-info-address table{
    width: max-content;
}
.container .delivery-address .user-info-address table tr td{
    padding: 2px 5px;
}

.container .delivery-address .user-info-address .button{
    position: absolute;
    right: 1%;
    bottom: 0;
}



.container .my-cart-container{
    padding: 2% 0;
    height: max-content;
    display: flex;
}

.container .my-cart-container h1{
    font-size: 32px;
    padding: 0 20px;
}
.container .my-cart-container table {
    width: 100%;
    background: whitesmoke;
   
}
.container .my-cart-container table tr{
   
    width: 100%;
}
.container .my-cart-container table tr td{
    text-align: center;
    padding: 5px 10px;
    width: max-content;   
}
    
.container .my-cart-container table tr td .del-btn{
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 14px;
}
.container .my-cart-container table tr td .del-btn:hover{
    text-decoration: underline;
}
.container .my-cart-container table .header td{
    background: var(--primaryColor);
    color: rgba(255, 255, 255, 0.568);

}
.container .my-cart-container table tr td img{
    width: 110px;
    height: 100px;
}
.container .my-cart-container .order-summary{
    background: whitesmoke;
    width: 35%;
    margin-left: 10px;
    border-radius: 5px;
}

.container .my-cart-container .order-summary tr td, th{
    background: whitesmoke;
    color: rgb(0, 0, 0);
    
}

.container .my-cart-container .order-summary tr td{
    text-align: left;
}
.container .my-cart-container .order-summary tr td:last-child{
    width: 40%;
    text-align: right;
}

.container .my-cart-container .order-summary tr .price input{
    width: 100%;
    height: 30px;
    text-align: right;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
}