@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
  padding-top: 10vh;
}

header{
    position: fixed;
    width: 100%;
    height: 10vh;
    top:0;
    background: whitesmoke;
    z-index: 100;
}

header .logo{
    position: absolute;
    left: 10%;
    top: 5%;
    z-index: 100;
}

header .logo img{
    height: 100px;
    width: 180px;
}

header .nav-links{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

header .nav-links ul li{
    display: inline-block;
    margin: 0px 10px;
}

header .nav-links ul li .shop-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

header .nav-links ul li .shop-icon img{
  height: 16px;
  margin-left: 5px;
}

header .nav-links ul li a{
    text-decoration: none;
    color: black;
}

header .nav-links div{
    margin: 0px 10px;
    width: 24px;
    height: 24px;
}

header .nav-links div img{
    width: 100%;
    height: 100%;
}

header .nav-links .account{
  width: max-content;
  height: max-content;
  border-radius: 50%;
  cursor: pointer;
}

header .nav-links .account img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}





header .shop-hover{
    position: absolute;
    width: 100%;
    height: 40vh;
    top: 100%;
    background-color: rgb(243, 237, 237);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
    display: none;
    padding: 0 10%;
}

header .shop-hover div{
  width: 100%;
  margin-top: 2%;
 
  padding: 10px 0;
  line-height: 34px;
  text-align: center;
}

header .shop-hover div:first-child{
  text-align: left;
}
header .shop-hover div h1{
  margin-top: 10px;
  font-size: 24px;
} 


header .shop-hover div ul li{
  list-style: none;
}

header .shop-hover div ul li a{
  text-decoration: none;
  color: rgb(71, 67, 67);
  font-size: 15px;
}


header .shop-hover div ul li a:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

header .shop-hover .hover-image img{
  width: 70%;
  height: 90%;
  margin-top: 10px;
}


header .nav-account{
  position: absolute;
  right: 10%;
  top: 100%;
  background: whitesmoke;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
  width: 150px;
  height: 150px;
  padding: 7px;
  display: none;

}
header .nav-account ul{
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 28px;
}
header .nav-account ul li{
  width: 100%;
  list-style: none;
  margin-left: 0%;
  font-size: 15px;
  text-align: right;
  padding: 3px;
}
header .nav-account ul li button{
  width: max-content;
  height: max-content;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  width: 100%;
  text-align: right;
}

header .nav-account ul li a{
  text-decoration: none;
  color: black;
  width: 100%;
}

header .nav-account ul li button:hover{
  color:rosybrown;
}
header .nav-account ul li a:hover{
  color:rosybrown;
}


.scrolling{
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .3);
}





/* MODAL LOGIN */
.modal-bg{
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.712);
  z-index: 100;
  transition: all ease-in-out .7s;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.modal-bg .login-container{
  position: relative;
  width: 400px;
  height: 450px;
  background:rgb(255, 241, 214);
  overflow: hidden;
  border-radius: 5px;
}

.modal-bg .login-container .close{
  position: absolute;
  right: 4%;
  top: 2%;
  font-size: 30px;
  transform: rotate(45deg);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  z-index: 1;
  cursor: pointer;
  transition: all ease-in-out .6s;
}
.modal-bg .login-container .close:hover{
  transform: rotate(calc(90deg + 45deg));
  background: cornsilk;
  box-shadow: 10px 0px 10px 0 rgba(0, 0, 0, .2);
}


.modal-bg .login-container .container{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 7% 15%;
  transition: left ease-in-out .5s;
}

.modal-bg .login-container .login-box{
  left: 0%;
}

.modal-bg .login-container .login-box table{
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
}
.modal-bg .login-container .login-box table input, button{
  margin: 7px 0;
  width: 100%;
  font-size: 16px;
  padding: 7px 10px;
  outline: none;
  border: none;
  
}
.modal-bg .login-container .login-box table #login-btn{
  background:rgb(233, 106, 106);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.modal-bg .login-container .login-box .fp{
  margin-top: -10px;
  margin-left: 3px;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.modal-bg .login-container .login-box .division{
  margin-top: 5px;
  display: flex;
  align-items: center;
  color:rgba(128, 128, 128, 0.849);
}
.modal-bg .login-container .login-box .division hr{
  border: 1px solid;
  height: 1px;
  width: 23%;
  margin: 0 10px;
}

.modal-bg .login-container .login-box .other-acc{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-bg .login-container .login-box .other-acc button{
  width: 110px;
  font-size: 14px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
  margin: 7px;
  cursor: pointer;
}

.modal-bg .login-container .login-box .other-acc button#fb-btn{
  background: rgb(74, 122, 255);
  border: 1px solid rgb(74, 122, 255);
}

.modal-bg .login-container .login-box .other-acc button#google-btn{
  background: none;
  border: 1px solid black;
  color: black;
}


.modal-bg .login-container .login-box .other-acc button img{
  width: 100%;
  height: 20px;
  margin-right: 3px;
}

.modal-bg .login-container .login-box .reg-now{
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.modal-bg .login-container .login-box .reg-now #reg-click{
  color:rgb(233, 106, 106);
  cursor: pointer;
}

.modal-bg .login-container .login-box .reg-now #reg-click:hover{
  color:rgb(177, 80, 80);
}



.modal-bg .login-container .reg-box{
  left: 100%;
}



.modal-bg .login-container .reg-box table{
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
}
.modal-bg .login-container .reg-box table input, button{
  margin: 5px 0;
  width: 100%;
  font-size: 14px;
  padding: 7px 10px;
  outline: none;
  border: none;
}

.modal-bg .login-container .reg-box table #register-btn{
  background:rgb(233, 106, 106);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.modal-bg .login-container .reg-box .log-now{
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.modal-bg .login-container .reg-box .log-now #log-click{
  color:rgb(233, 106, 106);
  cursor: pointer;
}

.modal-bg .login-container .reg-box .log-now #log-click:hover{
  color:rgb(177, 80, 80);
}















/* SLIDER BANNER */
  .slider{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    position: relative;
    transition: 2s;
  }
  
  .slide img{
    position: absolute;
    width: 60%;
    height: 100%;
  }

  .slide .text-info{
    position: absolute;
    top: 50%;
    width: 400px;
    height: max-content;
    z-index: 10;
    line-height: 32px;
    color: rgb(79, 80, 92);
  }
  .slide .text-info p{
    margin-bottom: 15px;
  }

  .slide .text-info a{
    color: brown;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid brown;
    transition: ease-in-out .4s;
  }
  .slide .text-info a:hover{
    background: brown;
    color: white;
  }





  .first{
    background: #eeedf3;
  }


  .second{
    background: #cea177;
  }

  .first img, .third img{
      right: 0%;
  }

  .second img, .fourth img{
      left: 0;
  }

  .first .text-info, .third .text-info{
      left: 10%;
  }

  .second .text-info, .fourth .text-info{
      text-align: right;
      position: absolute;
      right: 10%;
  }






  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    display: flex;
  }
  
  .manual-btn{
    border: 2px solid rgb(206, 140, 17);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: rgb(206, 140, 17);
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  



/*css for automatic navigation*/
  
  .navigation-auto{
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: max-content;
      display: flex;
  }
  
  .navigation-auto div{
    border: 2px solid rgb(206, 140, 17);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: rgb(206, 140, 17);
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: rgb(206, 140, 17);
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: rgb(206, 140, 17)
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: rgb(206, 140, 17);
  }

























/* PRODUCT PROMOTION CSS */
.products-promotion{
  position: relative;
  height: 90vh;
  width: 100%;
  padding: 20px 10%;
  background: rgb(255, 248, 248);
}

 .title {
  text-align: center;
  font-size: 18px;
}
.title h2{
  font-size: 38px;
}


.promotion-container{
  margin-top: 5%;
  height: 300px;
  width: 100%;
  display: flex;
  
}

.promotion-item{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: burlywood;
  margin:0 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.promotion-item img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  transition: ease-in-out .5s;
}
.promotion-item:hover img{
  width: 110%;
  height: 110%;
}

.promotion-item:hover .overlay{
  opacity: 1;
  transition: ease-in-out .7s;
}


.promotion-item .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.promotion-item .overlay h2{
  padding: 5px 15px;
  color: black;
  width: max-content;
  background-color: white;
  font-size: 18px;
  border-radius: 30px;
  margin-bottom: 5px;
}

.promotion-item .overlay a{
  text-decoration: none;
  color: white;
}

.promotion-item .overlay a:hover{
  color: red;
}













































.new-product-container{
  height: max-content;
  width: 100%;
  padding: 2.5% 10% 0 10%;
}

.new-product-container .title-container{
  font-size: 18px;
  text-align: center;
}
.new-product-container .title-container h2{
  font-size: 38px;
}

.new-product-container .product-container{
  width: 100%;
  height: 100%;
  padding: 5% 0;
}
.product-container ul{
  height: max-content;
  background: rgb(240, 240, 240);
  padding: 2% 2.5%;
}
.product-container ul li{
  display: inline-block;
}

.product-container .row{
  display: flex;
  justify-content: center;
}

.product-container .product-box{
  position: relative;
  top: 0%;
  width: 220px;
  height: 280px;
  display: grid;
  border-radius: 10px;
  overflow: none;
  transition: ease-in-out .3s;
  margin: 15px;
}

.product-container .product-box .container{
  background: whitesmoke;
}

.product-container .product-box .image-holder{
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0%;
  border-bottom: 1px solid rgb(41, 41, 41);

}

.product-container .product-box .product-info-holder{
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0%;
  padding: 5px;
  text-align: center;
}
.product-container .product-box img{
  width: 100%;
  height: 100%;
}

.product-box #icon-wish{
  position: absolute;
  top: 5% ;
  right: 3%;
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: url("../icons/heart.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.product-box #icon-wish:checked{
  background-image: url("../icons/heart1.png");
}
.product-box .icon-cart-holder{
  position: absolute;
  bottom: 28%;
  right: 3%;
  z-index: 1;
  width: 35px;
  height: 35px;
  background: white;
  padding: 7px;
  border-radius: 4px;
  transition: ease-in-out .3s;
  cursor: pointer;
}

.product-box .icon-cart-holder:hover{
  border-radius: 50%;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .2);
  filter: invert(1);
}
.product-box .icon-cart-holder img{
  width: 100%;
  height: 100%;
}

.product-box:hover{
  box-shadow: 10px 10px 10px -5px  rgba(0, 0, 0, .4);
  margin-top: 5px;
}






















/*EXCLUSIVE SALES*/
.exclusive-sales-container{
  height: 50vh;
  width: 100%;
  background-color: blueviolet;
  padding: 0 10%;
}

.exclusive-sales-container ul{
  background-color: brown;
  height: 100%;
}

.exclusive-sales-container ul .banner-container{
  position: relative;
  width: 600px;
  height: 300px;
  background-color: rgb(218, 215, 232);
}


.exclusive-sales-container ul .banner-container .banner{
  position: absolute;
  left: 0%;
  height: 100%;
  width: 50%;
}

.exclusive-sales-container ul .banner-container .banner img{
  height: 100%;
  width: 100%;
}


.exclusive-sales-container ul .banner-container .text{
  position: absolute;
  right: 0%;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px ;
  z-index: 5;
  color: black;
}

.exclusive-sales-container ul .banner-container .text a{
  text-decoration: none;
  color: black;
}

.banner-container .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  background-color: rgba(255, 192, 203, 0.651);
  z-index: 2;
  opacity: 0;
}

































/*FOOTER*/
.footer{
  position: relative;
  height: 40vh;
  width: 100%;
  background-color: bisque;
}


.footer .aboutUs{
  position: absolute;
  top: 10%;
  left: 10%;
}

.footer .aboutUs h1{
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
}

.footer .aboutUs ul li{
 list-style: none;
}

.footer .aboutUs ul li a{
  color: gray;
  text-decoration: none;
  font-size: 12px;
 }

 .footer .aboutUs ul li a:hover{
  text-decoration: none;
  color: black;
 }



.footer .payment{
  position: absolute;
  top: 10%;
  left: 30%;
  cursor: pointer;
}

.footer .payment h1{
  margin-bottom: 18px;
  font-size: 16px;
  color: black;
}

.footer .payment img{
  height: 50px;
  width: 55px;
}

.footer .logistic{
  position: absolute;
  top: 46%;
  left: 30%;
  cursor: pointer;
}

.footer .logistic h1{
  margin-bottom: 18px;
  font-size: 16px;
  color: black;
}

.footer .logistic .JT{
  height: 30px;
  width: 80px;
}

.footer .logistic .ninja{
  height: 30px;
  width: 90px;
}





.footer .customer{
  position: absolute;
  top: 10%;
  left: 50%;
}

.footer .customer h1{
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
}

.footer .customer ul li{
 list-style: none;
}

.footer .customer ul li a{
  color: gray;
  text-decoration: none;
  font-size: 12px;
 }

 .footer .customer ul li a:hover{
  text-decoration: none;
  color: black;
 }




 .footer .contact{
  position: absolute;
  top: 10%;
  left: 70%;
}

.footer .contact h1{
  font-size: 16px;
  color: black;
  margin-bottom: 15px;
}

.footer .contact ul li{
  list-style: none;
 }


.footer .contact .mail{
  position: absolute;
  top: 63%;
  left: 27%;
  font-size: 12px;
}

.footer .contact .mail a{
  color: gray;
  text-decoration: none;
}

.footer .contact .mail a:hover{
  color: black;
}


.footer .contact .gmail{
  height: 20px;
  width: 20px;
}




.footer .number .phone{
  position: absolute;
  top: 32%;
  left: 70%;
  height: 20px;
  width: 20px;
}



.footer .number p {
  position: absolute;
  top: 32.5%;
  left: 71.8%;
  font-size: 12px;
}

.footer .number p a{
  color: gray;
  text-decoration: none;
}

.footer .number p a:hover{
  color: black;
}


